.background__color {
  background-color: #FDF6F2;
}

.wrapper {
  padding: 120px 0;
}

.title__text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media (max-width: 414px) {
    font-size: 30px;
    margin-bottom: 40px;
  }

  @media (max-width: 320px) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.hotelinfo {
  font-size: 21px;
  line-height: 1.25em;
}

.rooms {
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 1.25em;
  a {
    color: #335477;
    cursor: pointer;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

}