.pageStyles {
    background-color: #FDF6F2;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.mainStyles {
    
}

.wrapper {
    box-sizing: border-box;
}

.titleText {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: 80px;
    color: #8b8e81;

    @media (max-width: 768px) {
        font-size: 40px;
        padding-top: 100px;
    }
}

.subTitle {
    font-family: Roboto Condensed;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.3em;
    margin-bottom: 40px;

    color: #8B8E81;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    @media (max-width: 414px) {
        font-size: 19px;
        letter-spacing: 0;
    }
}

.dateBox {
    font-family: Roboto Condensed;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #335477;
    width: 568px;
    height: 100%;
    margin-bottom: 80px;
    font-size: 24px;
    padding: 40px 40px;

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 376px) {
        height: 100%;
    }

    @media (max-width: 320px) {
        height: 100%;
        padding: 40px 38px;
    }
}

.dateBox__date {
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #8B8E81;
    
    @media (max-width: 376px) {
        line-height: 1.25em;
    }
}

.floral_positioning {
    position: absolute;
    top: -25%;
    right: -11%;

    @media (max-width: 768px) {
        width: 175px;
    }

    @media (max-width: 480px) {
        width: 150px;
        top: -17%;
        right: -13%;
    }

    @media (max-width: 414px) {
        width: 150px;
        top: -15%;
        right: -13%;
    }

    @media (max-width: 320px) {
        width: 150px;
        top: -15%;
        right: -13%;
    }
}

.dateBox__location {
    font-family: Roboto Condensed;
    line-height: 180%;
    cursor: pointer;
    color: #8B8E81;


    @media (max-width: 480px) {
        line-height: 1.25em;
    }
}

.venueName {
    font-family: Roboto Condensed;
    text-transform: uppercase;
    color: #8B8E81;

    @media (max-width: 376px) {
        font-size: 20px;
    }

    @media (max-width: 320px) {
        line-height: 1.25em;
    }
}

.address {
    font-family: Roboto Condensed;
    text-transform: lowercase;
    line-height: 1.25em;
    color: #8B8E81;

    @media (max-width: 320px) {
       font-size: 19px;
       line-height: 1.25em;
    }
}

.deadLine {
    font-family: Roboto Condensed;
    color: #8B8E81;
    font-size: 21px;
    @media (max-width: 320px) {
        font-size: 17px;
     }
}

.testing {
    padding: 10px 0;
}
