.wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 120px 0;
  color: #335477;

  h1 {
    font-size: 48px;
    letter-spacing: 0.2em;
    margin-bottom: 24px;
    color: #335477;

    @media (max-width: 414px) {
      font-size: 40px;
    }
  }

  P {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
    color: #335477;

    @media (max-width: 414px) {
      font-size: 18px;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    opacity: .5;

    &:visited {
      opacity: .5;
    }
    
    &:hover {
      opacity: 1;
    }

  }
}

